/* CofUI_Assembly */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext");
body {
  font-family: 'Quicksand', sans-serif;
  color: #324e63;
  padding:0;
  margin:0;
}


.CofUI-jumbotron
{
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;
    padding: 3rem 2rem;
    background-color: #303f9f!important;
    color: #fff!important;
}

.CofUI-badge-rim 
{
    position: relative;
    display: inline-block;
    padding: 0 6px;
    font-size: 12px;
    text-align: center;
    background-color: #448aff;
    color: #fff;
    border-radius: 2px;
    width: 6px;
    height: 6px;
    padding: 0;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 1px;
}

.CofUI-button-ts
{
    position: relative;
}

.CofUI-button-ts:active
{
    transform: translateY(2px);
    -webkit-transition: box-shadow 0.2s;
    box-shadow: 0.5rem 0.875rem 2.375rem rgba(255,255,255,.12), 0.0625rem 0.1875rem 0.5rem rgba(255, 255, 255, 0);
}

.CofUI-box-iconList
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--border);
    /* padding: 5px 15px;*/
}

.CofUI-divider
{
    border-bottom: 1px dashed;
    border-bottom-color: #e0e0e0;
}

/* CofUI_Auxiliary */
.CofUI-shadow-A1
{
    box-shadow: 0.5rem 0.875rem 2.375rem rgba(39,44,49,.06), 0.0625rem 0.1875rem 0.5rem rgba(39,44,49,.03);
}
.CofUI-fillet-A1
{
    border-radius: .5rem;
}



.copyright {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 16px;
    bottom: 0;
}
.copyright p {
    margin: 0;
    overflow: hidden;
    color: rgba(0,0,0,.38);
    font-size: 13px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.copyright a {
    color: rgba(0,0,0,.52);
    text-decoration: none;
}

.search-bar {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 420px;
	height: 46px;
	margin-left: 30px;
	background-color: #f1f3f4;
	border-radius: 8px;
	transition-duration: .18s;
	transition-property: background-color,box-shadow;
}
.search-bar input {
	flex: 1;
	height: 46px;
	background-color: transparent;
	border: none;
	outline: none;
}